body, h1, h2, h3, h4, h5, h6, ul, li, p {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	font-family: "sans-serif";
}
div.slide {
	margin: 1% auto 0 auto;
	padding: 0.5%;
	border: 1px solid #ddd;
	width: 94%;
	height: 94%;

	text-align: left;
}
div.slide .pager {
	font-weight: bold;
}
/* title */
div.slide div.main h2 {
	font-size: 100%;
}
div.slide div.main h3,
div.slide div.main p,
div.slide div.main ul,
div.slide div.main table,
div.slide div.main div.code,
div.slide div.main img {
	margin-left: 5%;
}
div.slide div.main ul {
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 1em;
}
div.slide div.main ul li {
	line-height: 1.5em;
}

div.slide div.main ul.sublist {
	margin-top: 0;
	margin-bottom: 0.5em;
	text-indent: 1em;
}
div.slide div.main ul.sublist li {
	line-height: 1.2em;
}

div.slide div.main div.code {
	background: #fff;
	padding: 0.5%;
	margin-right: 5%;
	border: 1px solid #aaa;
}

div.slide div.main table {
	border-collapse: collapse;
}
div.slide div.main table tr th,
div.slide div.main table tr td {
	border: 1px solid #000;
}


/* takahashi method */
div.slide div.main h4.takahashi {
	font-size: 400%;
}


